* {
    margin: 0;
    padding: 0;
}

/* Universal Styles */

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: darkslategray;
    background-color: black;   
    opacity: 0.9;
  }

  .main-content {
    position: relative;
    top: 5.3125rem; /* To offset for fixed header. */
  }
  
  .center {
    text-align: center;
  }
  
  .button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
  }
  
  .image-container {
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    max-width: 100%;
  }
  
  @media only screen and (max-width: 760px) {
    .main-content {
      top: 2.5625rem;
    }
  }
  
  /* Header */
  
  header {
    position: fixed;
    z-index: 100;
    height: 85px;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
  }
  
  header .content {
    display: flex;
    align-items: center;
    padding: 1.875rem;
  }

  header .content img {
    max-width: 58px;
    height: auto;
  }

  header .content a {
    text-decoration: none;
  }
  
  header .logo {
    flex: 1;
    font-size: 2.2rem;
    font-family: 'Great Vibes'; 
    color: #4a4a4a;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    padding-left: 2.5rem;
  }
  
  nav a {
    text-decoration: none;
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1.2rem;
    color: #4a4a4a;
  }

  header .mobile {
    font-family: 'Great Vibes'; 
    display: none;
    color: #4a4a4a;
  }
  
  @media only screen and (max-width: 895px) {
    nav li:last-child {
      display: block;
    }
  
    header .content {
      padding: 1rem 1rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    header {
      height:3rem;
    }
    
    header .desktop {
        display: none;
      }
  
    header .mobile {
      display: block;
      width: 100%;
    }
  
    header .content {
      padding: .5rem 0;
    }

    header .content img {
        display: none;
    }
  
  }
  
  /* Sign Up Section */
  
  #sign-up-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 43.5rem;
    background-color: black;
    background-image: url(./Graphics/Y_bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #sign-up-cta {
    opacity: 0.9;
    position: relative;
    margin-right: 5rem;
    margin-bottom: 6.625rem;
    padding: 0 5rem 3.5rem 5rem;
    border: solid 1px #979797;
    border-radius: 4px;
    background-color: darkred;
  }
  
  #sign-up-cta .content {
    opacity: 0.9;
    width: 15.625rem;
    height: 15rem;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
    color: white;
  }
  
  #sign-up-cta h1 {
    font-size: 2rem;
  }
  
  #sign-up-cta h2 {
    font-size: 1.5rem;
  }
  
  #sign-up-cta span strong {
    font-weight: bold;
  }
  
  #sign-up-cta .cursive {
    font-family: "Damion", cursive;
  }
  
  #sign-up-cta .striking {
    font-family: "Rubik", sans-serif;
    padding-bottom: .75rem;
  }
  
  #sign-up-cta .button {
    margin-top: .5rem;
    padding: 1rem 5rem;
  }
  
  @media only screen and (max-width: 895px) {
    #sign-up-section {
      align-items: center;
      justify-content: center;
      height: 28rem;
    }
  
    #sign-up-cta {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      border: none;
    }
  
    #sign-up-cta .content {
      margin-top: 0;
    }
  
    #sign-up-cta .email {
      display: none;
    }
  
    #sign-up-cta h1 {
      display: none;
    }
  
    #sign-up-cta h2 {
      display: none;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #sign-up-section {
      height: 20rem;
    }
  
    #sign-up-cta h1 {
      display: none;
    }
  
    #sign-up-cta h2 {
        display: none;
    }
  }
  
  /* Features Section */
  
  #features-section {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5%;
    background-color: #141414;
  }
  
  .feature {
    flex: 1;
    padding: 2rem;
    margin: 0px 1.25rem;
    background-color: white;
  }
  
  .feature .image-container {
    width: 90%;
    height: 65%;
    margin: 0 auto;
  }
  
  .feature .content {
    padding: 2.5rem 0;
  }
  
  .feature h2 {
    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
  }
  
  .feature h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
  }
  
  @media only screen and (max-width: 895px) {
    #features-section {
      padding: 1rem;
    }
  
    .feature {
      margin: 0px .5rem;
      padding: 1rem;
    }
  
    .feature h2 {
      font-size: 2rem;
      line-height: 1.3;
    }
  
    .feature h3 {
      font-size: .875rem;
      line-height: 1.4;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #features-section {
      flex-flow: column;
      padding: 0;
    }
  
    .feature {
      margin: 0;
      padding: 1.25rem 1rem 0 1rem;
    }
  
    .feature .content {
      padding: 1.25rem 0 1.875rem 0;
    }
  }
  
  /* Piano Section */
  
  #piano-section {
    padding: 4rem 0;
    background-color: #4a4a4a;
  }
  
  #piano-section .content {
    padding: 0 .625rem;
    margin-bottom: 5rem;
  }
  
  #piano-section .content h2 {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
  }
  
  #piano-section .content h3 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 300;
    color: white;
  }
  
  #piano-section .images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding: 0 1%;
  }

  @media only screen and (max-width: 895px) {
    #piano-section .images-container {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 600px) {
    #piano-section {
      padding: 1.5rem 0 0 0;
    }
  
    #piano-section .content {
      margin-bottom: 1rem;
    }
  
    #filters-section .content h2 {
      padding-bottom: .625rem;
      font-size: 1.125rem;
      line-height: 1.3;
      font-weight: normal;
    }
  
    #piano-section .content h3 {
      font-size: .875rem;
      line-height: 1.4;
    }
  
    #piano-section .images-container {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    #piano-section .extra {
      display: none;
    }
  }
  
  /* Quotes Section */
  
  #quotes-section {
    background-color: #f3f3f3;
  }
  
  #quotes-section .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1.5rem;
  }
  
  #quotes-section .quote {
    padding-right: 1.875rem;
    font-family: "Palatino", serif;
    font-size: 1.875rem;
    line-height: 1.1;
    font-style: italic;
    color: #4a4a4a;
  }
  
  #quotes-section .quote-citation {
    height: 1.875rem;
  }
  
  @media only screen and (max-width: 895px) {
    #quotes-section .content {
      padding: 3rem 1.5rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #quotes-section .content {
      flex-flow: column;
      padding: 1.875rem .625rem;
    }
  
    #quotes-section .quote {
      font-size: 1.5rem;
      line-height: 1.4;
    }
  
    #quotes-section .quote-citation {
      display: block;
      padding-top: 1rem;
      margin: auto;
    }
  }

/* Team */

.description {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    margin: 0;
    padding: 30px 30px;
}

.team h2 {
    display: none;
}

.teammates {
    display: flex;
    flex-wrap: wrap;
}

.teammate {
    border: 1px solid darkred;
    width: 250px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

#jdoe {
    background-image: url("./Graphics/depositphotos_86446164-stock-photo-business-man-in-office.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jbaker {
    background-image: url("./Graphics/depositphotos_88370500-stock-photo-mechanic-wearing-overalls.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mcox {
    background-image: url("./Graphics/istockphoto-1234455242-612x612.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#adavis {
    background-image: url("./Graphics/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  
  /* Footer */
  
  footer {
    background-color: #9b9b9b;
    padding: 1.5rem 2rem;
  }
  
  footer .content {
    color: white;
    display: flex;
    font-size: .75rem;
  }
  
  footer .copyright {
    flex-grow: 1;
  }
  
  @media only screen and (max-width: 600px) {
    footer .content {
      font-size: .625rem;
    }
  }